name: 02-workflow-events
on:
    workflow_dispatch:
    pull_request:
    
jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: show trigger
              run: echo "i will tigger the job with evernts ${{github.event_name}}"
        