name: 12-working with outputs

on:
  workflow_dispatch:
    inputs:
      build-status:
        description: gives the build status of choice
        type: choice
        options:
          - success
          - failure
        default: success

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      build-status: ${{ steps.build.outputs.status }}
    steps:
      - name: Set build status from input
        id: build
        run: |
          echo "status=${{ inputs.build-status }}" >> "$GITHUB_OUTPUT"

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ needs.build.outputs.build-status == 'success' }}
    steps:
      - name: Deploy
        run: echo "Deploying"
