name: 16 - Working with Environments
on: 
    workflow_dispatch:

jobs:
    Deploy-staging: 
        environment: staging
        env:
            my-env-value: ${{ vars.MY_ENV_VALUE || 'default value' }}
        runs-on: ubuntu-latest
        steps:
            - name: echo vars
              run: |
                echo "Deploying to Staging"
    E2e-Testing:
        runs-on: ubuntu-latest
        needs: Deploy-staging
        steps:
            - name: E2e tests
              run: echo "Running end to end tests"

    Deploy-prod-Frontend:
        environment: prod
        needs: E2e-Testing
        env:
            my-env-value: ${{ vars.MY_ENV_VALUE || 'default value' }}
        runs-on: ubuntu-latest
        steps:
            - name: echo vars
              run: |
                echo "Deploying to Frontend"
    
    Deploy-prod-Backend1:
        environment: prod
        needs: E2e-Testing
        env:
            my-env-value: ${{ vars.MY_ENV_VALUE || 'default value' }}
        runs-on: ubuntu-latest
        steps:
            - name: echo vars
              run: |
                echo "Deploying to Backend1"
    
    Deploy-prod-Backend2:
        environment: prod
        needs: E2e-Testing
        env:
            my-env-value: ${{ vars.MY_ENV_VALUE || 'default value' }}
        runs-on: ubuntu-latest
        steps:
            - name: echo vars
              run: |
                echo "Deploying to Backend2"