name: 16 - Working with Environments
run-name: 16 - Working with Environments | env - ${{  inputs.target-env }}
on: 
    workflow_dispatch:
        inputs:
            target-env:
                type: environment
                default: staging
jobs:
    echo: 
        environment: ${{ inputs.target-env }}
        env:
            my-env-value: ${{ vars.MY.ENV.VALUE || 'default value' }}
        runs-on: ubuntu-latest
        steps:
            - name: echo vars
              run: |
                echo "Env varialbe: ${{ env.my-env-value }}"