name: 17 custom actions - composite

env:
  WORKING_DIRECTORY: 17-custom-actions/react-app

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.WORKING_DIRECTORY }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node and NPM Dependencieees
        uses: ./.github/actions/composite-cache-deps
        with:
          node-version: 20.x
          working-dir: ${{ env.WORKING_DIRECTORY }}

      - name: Test
        run: npm run test

      - name: Build
        run: npm run build

