name: 18-2-reusable-workflows
on:
    workflow_dispatch:
jobs:
   deploy:
        uses: ./.github/workflows/18-1-reusable-workflows.yaml
        with:
            target-directory: dummy-dir
   print-outputs:
      runs-on: ubuntu-latest
      needs: deploy
      steps:
        - name: print Outputs
          run: |
                 echo "Build status": ${{ needs.deploy.outputs.build-status}}
                 echo "Build status": ${{ needs.deploy.outputs.url}}
